/* BORDER CHECKS */
.border-check {
  border: 1px solid red;
}



/* Colors */
:root {
  --bg-body: #e7dcf3;
  --bg-tasks: #faf9fb;
  --bg-header: linear-gradient(
    75deg,
    #b588f6 0%,
    #8f2eca 40%,
    #a908b5 100%
  );
  --fa-buttons: #8f2eca;
  --add-task-button: #fff;
}


/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
    background-color: var(--bg-body);
    font-family: 'Poppins', sans-serif;
}

#header {
    background: var(--bg-header);
    border-radius: 1rem;
}

#addNew {
    background-color: var(--add-task-button);
    border-radius: 5px;
    cursor: pointer;
}

.fa-circle-plus {
    color: var(--fa-buttons);
}
#msg {
    color: red;
}

#tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#tasks div {
  background-color: var(--bg-tasks);
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

#tasks div .options {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

#tasks div .options i {
  cursor: pointer;
  color: var(--fa-buttons);
}

#currentDate {
  font-size: 2rem;
  font-weight: bold;
  /* uppercase letters */
  text-transform: uppercase;
  width: 100%;
}

#currentYear {
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  letter-spacing: .9rem;
}
